 .carousel-item img {
     max-height: 400px; /* Or any height you prefer */
    overflow: hidden;
    max-width: 50%;
    align-content: center;
  }

  li{
    font-weight: 800;
}
.card-img-top {
      height: 200px;
      object-fit: cover;
    }