.left-side{
background: url('https://www.keralatourism.org/_next/image/?url=http%3A%2F%2F127.0.0.1%2Fktadmin%2Fimg%2Fpages%2Flarge-desktop%2Fkerala-visuals-1714756369_966a6aeb7550ce9efd98.webp&w=3840&q=75') no-repeat center center;
      background-size: cover;
      color: white;
    }